<html>
    <head>
        <title>it 외부 동아리 </title>
        <link rel="stylesheet" href="stylesheets/main.css">
    </head>
    <body>
        <h1> 개발 관련 외부 활동 및 동아리 모음 </h1>

        <div class="ssafy-image">
        <a href="/api/circle?name=ssafy"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
        <p>SSAFY</p>
        </div>

        <div class="42Seoul-image">
            <a href="/api/circle?name=42Seoul"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
            <p>42Seoul</p>
        </div>

        <div class="SWMaestro-image">
            <a href="/api/circle?name=SWMaestro"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
            <p>소프트웨어 마에스트로</p>
        </div>

        <div class="SOPT-image">
            <a href="/api/circle?name=SOPT"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
            <p>SOPT</p>
        </div>

        <div class="Lion-image">
            <a href="/api/circle?name=Lion"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
            <p>멋쟁이 사자처럼</p>
        </div>

        <div class="nexters-image">
            <a href="/api/circle?name=nexters"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
            <p>넥스터즈</p>
        </div>

        <div class="prography-image">
            <a href="/api/circle?name=prography"> <img src = images/ssafy.png alt="싸피 이미지" /></a>
            <p>프로그라피</p>
        </div>
    </body>

</html>